# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\下载\ChatSystem-master\ChatSystem-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
